<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/moment.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link th:href="@{/css/font1.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/font2.css}" rel="stylesheet" media="screen">
    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>


    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>

    <link th:href="@{/css/customerPage.css}" rel="stylesheet" media="screen"/>
    <style>
        .addButton {
            padding: 10px 20px;
            background-color: darkorange;
            color: white;
            border-radius: 0;
            transition: .2s;
        }
        .addButton:hover, .addButton:focus {
            border: 1px solid darkorange;
            background-color: white;
            color: darkorange;

        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Grand Atma Hotels</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse"  data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/reservasi">Reservasi</a></li>
                <li><a href="/season">Season</a></li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dataPelanggan">Data Pelanggan</a></li>
                        <li><a href="/dataPegawai">Data Pegawai</a></li>
                        <li><a href="/dataKamar">Data Kamar</a></li>
                        <li><a href="/dataJenisKamar">Data Jenis Kamar</a></li>
                        <li><a href="#">Kelola Reservasi</a></li>
                        <li><a href="/laporan">Laporan</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Keluar</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <legend>Jenis Kamar:</legend>
        </div>
        <!-- panel preview -->
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
                    <form  name="myForm" action="js" onsubmit="return validateForm()"  th:object="${jenisKamar}" th:action="@{/dataJenisKamar/}" method="post">
                        <input type="hidden" th:field="*{jenisKamarId}"/>
                        <input type="hidden" th:field="*{statusJenis}"/>
                        <div class="form-group">
                            <label for="noKam" class="col-sm-3 control-label">Nama Jenis Kamar:</label>
                            <div class="col-sm-9">
                                <input  th:field="*{namaJenisKamar}" type="text" class="form-control" id="noKam" name="noKam" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lantai" class="col-sm-3 control-label">Kapasitas</label>
                            <div class="col-sm-9">
                                <input  th:field="*{kapasitas}" type="number" class="form-control" id="lantai" name="lantai" required>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label">Harga Per Jenis Kamar ( Rp. ):</label>
                            <div class="col-sm-9">
                                <input name="fname"  th:field="*{hargaJenisKamar}" type="number" class="form-control"  placeholder="Merokok/Tidak Merokok" required>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="lantai" class="col-sm-3 control-label">Gambar Kamar:</label>
                            <div class="col-sm-9">
                                <input  th:field="*{gambarKamar}" type="text" class="form-control" id="lantai" name="lantai" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <hr style="border:1px dashed #dddddd;">
                                <button type="submit"  onclick="myFunction()" class="btn  btn-block addButton">Submit dan selesai</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function myFunction() {
        alert("Proses Berhasil!");
    }
    function validateForm() {
        var x = document.forms["myForm"]["fname"].value;
        if (x == "Merokok" || x == "Tidak Merokok") {
            alert("Isian Anda Salah! Silahkan Inputkan dengan Benar. ");
            return false;
        }
    }
</script>
</body>
</html>