<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/moment.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link th:href="@{/css/font1.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/font2.css}" rel="stylesheet" media="screen">
    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/styleTable.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Grand Atma Hotels</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse"  data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/reservasi">Reservasi</a></li>
                <li><a href="/season">Season</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dataPelanggan">Data Pelanggan</a></li>
                        <li><a href="/dataPegawai">Data Pegawai</a></li>
                        <li><a href="/dataKamar">Data Kamar</a></li>
                        <li><a href="/dataJenisKamar">Data Jenis Kamar</a></li>
                        <li><a href="#">Kelola Reservasi</a></li>
                        <li><a href="/laporan">Laporan</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Keluar</a></li>
            </ul>
        </div>
    </div>
</nav>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Jenis Kamar</th>
                <th>Grup</th>
                <th>Personal</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="jmlTamu: ${jmlTamu}">

                <td th:text="${jmlTamu.namaJenisKamar}"></td>
                <td th:text="${jmlTamu.grup}"></td>
                <td th:text="${jmlTamu.personal}"></td>
                <td th:text="${jmlTamu.total}"></td>
            </tr>
            </tbody>
        </table>
        <b>Total: </b>
        <span th:text="${total}"></span>
    </div>
</div>
</body>
</html>