<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/moment.js}"></script>
    <link th:href="@{/css/font1.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/font2.css}" rel="stylesheet" media="screen">
    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen"/>


    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
    <link th:href="@{/css/customerPage.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Grand Atma Hotels</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse"  data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="#">Reservasi</a></li>
                <li><a href="/season">Promo</a></li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dataPelanggan">Data Pelanggan</a></li>
                        <li><a href="/dataPegawai">Data Pegawai</a></li>
                        <li><a href="/dataKamar">Data Kamar</a></li>
                        <li><a href="#">Data Jenis Kamar</a></li>
                        <li><a href="#">Laporan Pelanggan Baru</a></li>
                        <li><a href="#">Laporan Pendapatan Bulanan</a></li>
                        <li><a href="#">Laporan Jumlah Tamu</a></li>
                        <li><a href="#">Laporan 5 Pelanggan Reservasi Terbanyak</a></li>
                        <li><a href="#">Laporan Pendapatan Tahunan</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Keluar</a></li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <legend>Tambah Season:</legend>
        </div>
        <!-- panel preview -->
        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
                    <form th:object="${season}" th:action="@{/season/}" method="post">
                        <input type="hidden" th:field="*{seasonId}"/>
                        <input type="hidden" th:field="*{statuSeason}"/>
                        <div class="form-group">
                            <label for="concept" class="col-sm-3 control-label">Nama Season</label>
                            <div class="col-sm-9">
                                <input  th:field="*{namaSeason}"  type="text" class="form-control" id="concept" name="namaSeason" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-3 control-label">Promo Season</label>
                            <div class="col-sm-9">
                                <input th:field="*{promoSeason}" type="text" class="form-control" id="description" name="promoSeason" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tanggal Mulai</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <div class="col-sm-9">
                                    <input th:field="*{tanggalMulai}" type='text' class="form-control" required/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tanggal Selesai</label>
                            <div class='input-group date' id='datetimepicker2'>
                                <div class="col-sm-9">
                                    <input th:field="*{tanggalSelesai}" type='text' class="form-control" required />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="status" class="col-sm-3 control-label">Cabang</label>
                            <div class="col-sm-9">
                                <select th:field="*{cabangs.cabangId}"  class="form-control" id="status" >
                                    <option th:each="cabang : ${cabang}"
                                            th:value="${cabang.cabangId}"
                                            th:text="${cabang.namaCabang}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr style="border:1px dashed #dddddd;">
                                <button type="submit" class="btn btn-danger btn-block">Submit dan selesai</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div> <!-- / panel preview -->

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
    });
</script>
</body>
</html>